.header {
  display: flex;
  gap: 1rem;
}

.mainTitleAndImageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.title {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}

.statsContainer {
  padding-bottom: 2rem;
}

.relatedPokemonContainer {
  position: relative;
  min-height: 10rem;
}
